/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #466a9a), color-stop(41%, #40a1e2), color-stop(57%, #d9d6d1));
  background-image: -webkit-linear-gradient(top, #466a9a 11%, #40a1e2 41%, #d9d6d1 57%);
  background-image: linear-gradient(to bottom, #466a9a 11%, #40a1e2 41%, #d9d6d1 57%);
  color: white;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 12px;
  overflow: hidden;
}
body.day {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #7eb5ff), color-stop(40%, #dceef7), color-stop(40%, #f7e1bd));
  background-image: -webkit-linear-gradient(top, #7eb5ff 14%, #dceef7 40%, #f7e1bd 40%);
  background-image: linear-gradient(to bottom, #7eb5ff 14%, #dceef7 40%, #f7e1bd 40%);
}
body.day article {
  position: relative;
  top: 40%;
}
body.day button {
  position: absolute;
  bottom: 0;
  right: 0;
}
body.night {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #24143f), color-stop(40%, #1f0780), color-stop(40%, #422102));
  background-image: -webkit-linear-gradient(top, #24143f 14%, #1f0780 40%, #422102 40%);
  background-image: linear-gradient(to bottom, #24143f 14%, #1f0780 40%, #422102 40%);
}
body.night .teeth {
  opacity: 0.7;
}

header,
article {
  padding: 0 1em;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  padding-right: 0.5em;
}
nav a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
nav a:link, nav a:visited {
  color: white;
}
nav a:active {
  color: #466a9a;
}

.ocean {
  background-color: blue;
  height: 50%;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  top: 50%;
  width: 100%;
}

@-webkit-keyframes tide {
  0%,100% {
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes tide {
  0%,100% {
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}
.tide {
  background-color: blue;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #5fbfff), color-stop(85%, #0981d1));
  background-image: -webkit-linear-gradient(top, #5fbfff 20%, #0981d1 85%);
  background-image: linear-gradient(to bottom, #5fbfff 20%, #0981d1 85%);
  -webkit-animation: tide ease-in-out 5s infinite;
          animation: tide ease-in-out 5s infinite;
}

.boat {
  display: inline-block;
  height: 20px;
  position: relative;
  top: -22px;
  width: 20px;
}
.boat:before {
  content: "\0020";
  background-color: transparent;
  background-image: url("../images/boat.gif");
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  width: 28px;
}

@-webkit-keyframes walk {
  0% {
    left: 0;
  }

  100% {
    left: 120%;
  }
}

@keyframes walk {
  0% {
    left: 0;
  }

  100% {
    left: 120%;
  }
}
.walk {
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation: walk linear 90s infinite;
          animation: walk linear 90s infinite;
  position: absolute;
  width: 100%;
}
