html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 12px;
  overflow: hidden;
}
body header,
body article {
  padding: 0 1em;
}
body.day {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #7eb5ff), color-stop(40%, #dceef7), color-stop(40%, #f7e1bd));
  background-image: -webkit-linear-gradient(top, #7eb5ff 14%, #dceef7 40%, #f7e1bd 40%);
  background-image: linear-gradient(to bottom, #7eb5ff 14%, #dceef7 40%, #f7e1bd 40%);
}
body.day article {
  position: relative;
  top: 40%;
}
body.day button {
  position: absolute;
  bottom: 0;
  right: 0;
}
body.night {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #24143f), color-stop(40%, #1f0780), color-stop(40%, #422102));
  background-image: -webkit-linear-gradient(top, #24143f 14%, #1f0780 40%, #422102 40%);
  background-image: linear-gradient(to bottom, #24143f 14%, #1f0780 40%, #422102 40%);
}
body.night .teeth {
  opacity: 0.7;
}

@-webkit-keyframes walk {
  0% {
    left: 0;
  }

  100% {
    left: 120%;
  }
}

@keyframes walk {
  0% {
    left: 0;
  }

  100% {
    left: 120%;
  }
}

.walk {
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation: walk linear 90s infinite;
          animation: walk linear 90s infinite;
  position: absolute;
  width: 100%;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
