<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% asset default.css %}
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <a href="#main-content" class="visuallyhidden focusable" id="skip-to-content">Skip to content</a>

    <main id="main-content" class="{{ page.category }}">
      {{ content }}
    </main>

    <script>
      var _gaq=[['_setAccount','UA-23920757-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
