<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% asset default.css %}
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <a href="#main-content" class="visuallyhidden focusable" id="skip-to-content">Skip to content</a>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="{% if page.url == '/books/' %}#main-content{% else %}/books/{% endif %}">Books</a>
      </nav>
    </header>

    <main id="main-content" class="{{ page.category }}">
      {{ content }}
    </main>

    <footer>
      <a href="#main-content">Back to top</a>
      <time datetime="{{ page.last_modified_at }}">Last edited {{ page.last_modified_at | date_to_long_string: "ordinal" }}</time>
    </footer>

    <script>
      var _gaq=[['_setAccount','UA-23920757-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
