<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% asset home.css %}
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <header class="visuallyhidden">
      <h1>Michael Matyus</h1>
    </header>

    <main class="ocean tide">
      <span class="boat"></span>
    </main>

    <script>
      var _gaq=[['_setAccount','UA-23920757-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
