body {
  color: white;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 12px;
  overflow: hidden;

  header,
  article {
    padding: 0 1em;
  }

  article {
    bottom: 0;
    left: 0;
    text-align: right;
    position: absolute;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
}

#flower_bed {
  display: inline-block;
  height: 500px;
  outline: 1px dotted red;
  position: relative;
  width: 900px;
}
